@page "/compare"

<PageTitle>Metaheurystyki - porównanie</PageTitle>

<h1>Porównywanie wybranych algorytmów</h1>
<p class="lead">Porównaj wybrane algorytmy z automatycznym doborem najlepszych wartości parametrów</p>