@page "/"

<PageTitle>Metaheurystyki</PageTitle>

<h1>Metaheurystyki - platforma testowa</h1>

<h4>Aplikacja do testowania algorytmów metaheurystycznych.</h4>
<br>
<p class="lead">Funkcjonalności:</p>
<dl class="row">
    <dt class="col-sm-3">Testowanie algorytmów</dt>
    <dd class="col-sm-9">Umożliwia testowanie pojedynczego algorytmu oraz wybór zakresu zmienności parametrów</dd>

    <dt class="col-sm-3">Porównanie algorytmów</dt>
    <dd class="col-sm-9">Analiza porównawcza kilku algorytmów z możliwością wyboru najbardziej optymalnych parametrów</dd>

    <dt class="col-sm-3">Raporty</dt>
    <dd class="col-sm-9">Wygenerowane raporty można pobrać w formacie .txt lub .pdf</dd>

    <dt class="col-sm-3">Dodawanie algorytmów</dt>
    <dd class="col-sm-9">Umożliwa dodawanie nowych algorytmów metaheurystycznych w formacie plików .dll</dd>

    <dt class="col-sm-3">Dodawanie funkcji testowych</dt>
    <dd class="col-sm-9">Umożliwia dodawanie nowych funkcji testowych w formacie plików .dll</dd>
    <dt class="col-sm-3">Instrukcja użytkownika</dt>
    <dd class="col-sm-9">Instrukcja obsługi aplikacji</dd>
</dl>