@page "/instructions"

<PageTitle>Metaheurystyki - instrukcja</PageTitle>

<h1>Instrukcja użytkownika</h1>
<p class="lead">Instrukcja korzystania z platformy do testowania algorytmów metaheurystycznych</p>